body{
  padding: 20px;
  margin:0px;
 box-sizing: border-box;
 background-color: blue
}
.p1{
  color: brown;
  line-height: 28px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: justify;
  text-indent: 10px;
}
#mission{
 color: black;
 white-space: normal;
 background: grey;
 border: 1px solid blue;
 padding-top: 20px;
 font-size: 20px;
 text-align: justify;
 margin-bottom: 20px;
}
span{
  font-weight: bolder;
  color: red;
  
}
#p2{
  font-variant: small-caps;
}
#back{
  margin-top: 20px;
  backface-visibility: visible;
  /* backface-visibility is not in conformity with all browsers but selected*/
}
.success{
  font-size: 10px;
  font-weight: bold;
  padding-left:10px;
}
ol{
  list-style-type: square;
  background:lightgraygrey;
}
p.catalogue{
  font-family: 20px;
  font-weight: bold;
}
.first-head, th, td{
  border: 2px solid black;
  color: red;
}
.second-head{
  border: 2px solid black;
  color: red;
  border-collapse: collapse;
}
tr:nth-child(odd){
  background-color: paleturquoise;
}
tr:nth-child(even){
  background-color: lawngreen;
}