body{
  box-sizing: 0px;
  padding:0px;
  margin: 0px;
  background-color:lightgray;
}
img{
  padding-top: 10px;
}

.navbar img{
  height: 4rem;
}
div.div-bg {
   width:100%;
  height: 600px;
 background:url("motivational-poster-with-inspirational-quote_1284-45846-1.jpg") no-repeat center red;
  background-size: 100%;
 /* display: inline-block;*/
  border: 5px solid whitesmoke;
  border-radius: 10px;
  margin:0 auto;
  border-top-color: green;
  border-right-color: lightyellow;
 }
 h1{
   padding:0px;
 }
 .note{
   font-weight: bold;
   color: red;
 }
.user-info{
 background: tomato;
 margin-top:0px;
 width: 100%;
 
}
fieldset{
  border: 3px dashed whitesmoke;
  border-color: blue;
}
 marquee{
   background:pink;
   padding: 0px;
   font-weight: bolder;
   font-size: 30px;
 }
 #footer{
   margin-top: 600px;
   margin-bottom: 0px;
   text-align:  center;
   font-size: 30px;
   font-weight: bold;
 }
 .copy{
   margin: 0px;
 }
 .footer-bar{
   margin:0px;
   /*background: red;*/
 }
 a{
   text-decoration: none;
 }
 a:hover{
   background: tomato;
   color: dimgray;
   cursor:pointer;
 }